
<div>
    <h3> User Dashboard </h3>
    <div class="row">
        <label class="col-form-label col-sm-1" for="inputname">Name:</label>
        <span class="col-sm-5 mt-2">{{userData.name}} </span>
    </div>
    <div class="form-group row">
        <label class="col-form-label col-sm-1" for="inputname">Email: </label>
        <span class="col-sm-5 mt-2"> {{userData.email}} </span>
    </div>
    <div class="form-group row">
        <label class="col-form-label col-sm-1" for="inputname">DOB:</label>
        <span class="col-sm-5 mt-2"> {{userData.dob}}</span>
    </div>
</div>



